<li>{{product.name}} | {{product.stock}} | <img src="/assets/images/credit.png" alt="credit" class="credit" />{{product.price}}
<br>
Total Stock Value: <img src="/assets/images/credit.png" alt="credit" class="credit" />{{totalStockValue}}</li>
