body {
  padding-top: 3em;
}

.product-tile {
  text-align: center;
}

.product-img {
  height: 20em;
  display: block;
  margin: 0 auto;
}

.product-link {
  color: #000;
}

.product-link:hover {
  text-decoration: none;
  color: #000;
}

.product-tile:hover {
  background-color: rgba(0, 0, 0, .8);
  text-shadow: 0px 0px #FFD700;
  color: block;
  transition: 0.5s ease-in;
}

.product-tile {
  transition: 0.5s ease-out;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in;
}

.btn {
  transition: 0.5s ease-out;
}

.credit {
  height: 1em;
  vertical-align: baseline;
}

.product-tile-credit {
  height: .5em;
  vertical-align: baseline;
  image-rendering: crisp-edges;
}
