<nav>
  <div class="navbar navbar-default navbar-fixed-top">
    {{#link-to 'index' class="navbar-brand"}} <span class="glyphicon glyphicon-home"></span> {{/link-to}}
    <ul class="nav navbar-nav">
      <li>{{#link-to 'shopping-cart'}} <span class="glyphicon glyphicon-shopping-cart"></span> {{/link-to}}</li>
    </ul>
  </div>
</nav>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
<footer>

</footer>
