<nav>
  <div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}} <span class="glyphicon glyphicon-home"></span> {{/link-to}}</li>
      <li>{{#link-to 'shopping-cart'}} <span class="glyphicon glyphicon-shopping-cart"></span> {{/link-to}}</li>
      <li>{{#link-to 'admin' class="btn"}}LOGIN{{/link-to}}</li>
      <li>{{#link-to 'create-account' class="btn"}}CREATE <br> ACCOUNT{{/link-to}}</li>
    </ul>
    <h2 class="text-center title">Wald's Partz</h2>
  </div>
</nav>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
<footer>

</footer>
