<div class="row">
  {{log "Admin Portal Status: " model.adminLog.isAdmin}}
  {{#if model.adminLog.isAdmin}}
    <h1>HI!</h1>
  {{else}}
    <h1>NO!</h1>
  {{/if}}
  {{#each model.products as |product|}}
    <div class="col-md-6">
      {{product-tile product=product}}
    </div>
  {{/each}}
</div>
